// Place all the styles related to the offers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.offer{
  background: white;
  margin: 1em 0;
  padding: 1em;
}
.acciones{
  a.btn-rojo{
    color: white;
    &:hover{
      background: white;
      border: 1px solid #e55333;
      color: #e55333;
    }
  }
  a.btn-verde{
    color: white;
    &:hover{
      background: white;
      border: 1px solid #6abf4a;
      color: #6abf4a;
    }
  }
}

